<div class="uk-width-expand@m">
  <h1 class="uk-heading-small">THE CLIFFS OF MOHER - CLIFFS IN IRELAND</h1>
  <p>One of Ireland’s favourite visitor experiences, the Cliffs of Moher tower over the rugged west Clare coast.
      Walk the safe, paved pathways and view the famous Cliffs that sit on Europe’s most westerly tip and enjoy the spectacular vistas over the Atlantic Ocean and the Aran Islands.
      Their natural beauty has inspired artists, musicians, and poets for generations, as well as absorbing scientists and geologists, drawn by the unique landscape in which they sit.
      The Cliffs of Moher, the most famous cliffs in Ireland, will leave you awestruck, creating memories that will stay with you forever.</p>
</div>
<div class="uk-width-expand@m">
    <ul>
        <li>The Visitor Centre, itself sculpted from the landscape, hosts informative and entertaining permanent exhibits in its extensive gallery space and auditorium.
            Visit the on-site theatre and experience an exhilarating virtual-reality cliff-face adventure.</li>
        <li>The Cliffs of Moher has featured in classic movies like The Princess Bride and Harry Potter and the Half-Blood Prince.</li>
        <li>The Cliffs of Moher was a ‘tourist attraction’ before that phrase was even heard of. In the early 19th century, the then landowner, Cornelius O’Brien, parliamentarian, and proud Clare man, built O’Brien’s Tower so that the expansive cliff views across the Atlantic Ocean from Liscannor Bay to Galway Bay could be fully appreciated.
            This paved the way for today’s centre to be the top visitor attraction in Ireland and on the Wild Atlantic Way.</li>
        <li>It is now part of the Burren and Cliffs of Moher UNESCO Global Geopark supporting sustainable tourism and has been a special protected area for birds and wildlife since 1979, home to 35 different species of birds</li>
    </ul>
</div>
<div class="uk-width-expand@m">
    <p>See for yourself what has drawn people for over two centuries, it will stir your senses and fill your soul.

        Admission includes access to all areas, secure car parking, wi-fi and contributes to conservation of the area.
        In addition, there are two cafes, a gift shop, toilets, first aid centre, information points, baggage storage, safe viewing platforms, audio guide, and much more.
        See our frequently asked questions for more information on amenities.</p>
    <h2>Book Now!</h2>
</div>