<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <form class="uk-form-stacked uk-text-left" action="/donate" method="POST">
        <div class="uk-grid uk-grid-stack">
            <div class="uk-width-1-2@m">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">POI Name</label>
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input uk-form-large" type="text" name="amount" placeholder="">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">POI Category</label>
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                            <input class="uk-input uk-form-large" type="text" name="method" placeholder="">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">POI Description</label>
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                            <input class="uk-input uk-form-large" type="text" name="description" placeholder="">
                        </div>
                    </div>
                </div>
                <div class=" uk-width-1-2@m">
                    <div class="uk-margin">
                        <button class="submit uk-button uk-button-primary uk-button-large uk-width-1-1">Add POI</button>
                    </div>
                </div>
            </div>
    </form>
</div>
