<form action="/displayReview" method="POST">
    <input type="hidden" value={{POIid}} name="id" />
    <td><button type="submit"  class="uk-button uk-button-secondary uk-button-large uk-width-1-1">Click Here To View All Reviews</button></td>
</form>