<form class="uk-form-stacked uk-text-left" action="/review" method="POST">
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <input class="uk-input uk-form-large" type="number" name="rating" value="{{rating}}">
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <input class="uk-input uk-form-large" type="text" name="review" value="{{review}}">
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <input class="uk-input uk-form-large" type="hidden" name="reviewer" value="{{user.firstName}}">
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: update"></span>
            <button class="submit uk-button uk-button-primary uk-button-large uk-width-1-1">Add Review</button><br></div></div>
</form>
{{> error }}


