<div class="uk-width-2-3@m  uk-card uk-card-default uk-padding-small uk-visible@m">
  <div class="uk-grid">
    <div class="uk-width-1-6@m">
      <img src="/images/home.jpg" width="60" alt="img" />
    </div>
    <div class="uk-width-expand@m uk-text-left">
      <div class="title">
        {{title}}
      </div>
      <div class="uk-text-muted uk-text-small">
        {{subTitle}}
      </div>
    </div>
    <div class="uk-card uk-card-small uk-text-center uk-padding-remove">
      <a target="_blank" href="https://github.com/philipmcnamara/Sem3WebDev">
        <div>
          <i class="fas fa-code fa-3x" style="color:rgb(0, 0, 0)" title="Git Repo" pos="bottom" uk-tooltip></i>
        </div>
        <div class="uk-width-expand@m uk-text-left">
          <div class="uk-text-muted uk-text-center" style="font-size:xx-small">Click for git repo</div>
        </div>
      </a>
    </div>
  </div>
</div>
