<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Find us...On the Wild Athlantic Way" subTitle="Irelands Favourate Visitor Attraction"}}

</div>
<nav class="uk-navbar-container" uk-navbar="dropbar: true; dropbar-mode: push">...</nav>
<div class="uk-navbar-dropbar">
    {{> navigation }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <h1 class="uk-heading-small">The Aillwee Caves</h1><br>
            <h5 class="uk-heading-small">Because the Burren itself... is a bit shit</h5><br>
            <img width="100%" src="images/aillwee_cave.jpg" /><br>
        </div>
        <br>
    </div>


    <div class="uk-container uk-margin">
        <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
            <div class="uk-width-auto@m">
                <img width="300" src="images/Aillwee-Cave-2.jpg" />
                <img width="300" src="images/Aillwee-Cave-5.jpg" /><br>
            </div>
            <div class="uk-width-expand@m">
                <p><br>Located in the heart of The Burren Region of County Clare. Perched high on its Burren terraced mountainside with what has to be one of the most spectacular views of Galway Bay, along The Wild Atlantic Way, Aillwee is a place full of wonder, beauty and discovery.
                    <br>
                    <br> Aillwee is home to Ireland’s Premiere Show Cave, a dramatic Birds of Prey Centre and an artisan Farmshop where you can taste unique Award-Winning Burren Gold Cheese.  Witness underground and over ground marvels at Aillwee and immerse yourself in a true Burren Experience. Expert guides will accompany and inform you during your leisurely Cave tour. The tour consists of a 35-minute stroll through the beautiful caverns unveiling a unique Burren underground landscape.
                    <br>
                    <br>The Birds of Prey Centre has been educating and entertaining visitors with dynamic flying displays set against the dramatic Burren Landscape, since 2008.  The mission of the Centre is to aid the conservation of Birds of Prey through visitor awareness and education, whilst actively fundraising for Raptor conservation monitoring efforts within Ireland and Internationally. Witness dramatic Flying Displays scheduled daily.  A home to Eagles, Falcons, Hawks, and Owls from all over the world. Information Boards that provide a deep insight into the various aspect of Birds of Prey.
                    <br>
                    <br>In the Farmshop, allow your Foodie self to take over as you see the location of the Cheese Factory and see the Gouda style cheese being made in front of you during its season – April to October. Become lost in the Farmshop as a team member will talk you through the process of Cheese-Making and reveal the one of a kind 35-year story of Burren Gold Cheese at Aillwee. All this, while you taste your way through the cheeses learning texture, taste and aging within the different cheeses. For your sweet tooth, indulge in our home-made Fudge while we talk you through all the flavours available. Learn about the conservation work being done to protect the native Irish black bee. Taste the unique honey produced from the Wildflowers here on the Burren.
                    <br>
                    <br>Our 26 acre outdoor site includes an eight-acre hazel, ash and holly woodland complete with lots of accessible trails and footpaths
                    <br>
                    <br>It is a must for all who find themselves in the Burren.
                    <br>
                    <br>Since reopening, alongside Covid 19, we have adapted the entire site and all our experiences with our visitors and teams comfort and safety a priority.</p>
            </div>

            {{> error }}
        </div>
    </div>
</div>