<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Find us...On the Wild Athlantic Way" subTitle="Irelands Favourate Visitor Attraction"}}

</div>
<nav class="uk-navbar-container" uk-navbar="dropbar: true; dropbar-mode: push">...</nav>
<div class="uk-navbar-dropbar">
    {{> navigation }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <h1 class="uk-heading-small">Bunratty Castle</h1><br>
            <img width="100%" src="images/bunratty.PNG" /><br>
        </div>
        <br>
    </div>


    <div class="uk-container uk-margin">
        <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
            <div class="uk-width-auto@m">
                <br><br> <h3 class="uk-heading-small">History</h3><br>
                <img width="100%" src="images/bunratty2.PNG" />
            </div>
            <div class="uk-width-expand@m">
                <p>Robert De Muscegros, a Norman, built the first defensive fortress (an earthen mound with a strong wooden tower on top) in 1250. <br>
                    His lands were later granted to Thomas De Clare who built the first stone castle on the site. About this time Bunratty became a large town of 1,000 inhabitants.<br><br>

                    In 1318 Richard De Clare, son of Thomas was killed in a battle between the Irish and the Normans. His followers were routed and the castle and town were completely destroyed. The castle was restored for the King of England but was laid waste in 1332 by the Irish Chieftains of Thomond under the O'Briens and MacNamaras.
                    It lay in ruins for 21 years until it was rebuilt by Sir Thomas Rokeby but was once again attacked by the Irish and the castle remained in Irish hands thereafter.<br><br>
                </p>
            </div>
            {{> error }}
        </div>
    </div>
    <div class="uk-container uk-flex-center ">
        <br><h3>MACNAMARAS AND O'BRIENS</h3>
        <p>
            The powerful MacNamara family built the present structure around 1425 but by 1475 it had became the stronghold of the O'Briens, the largest clan in North Munster.<br>

            They ruled the territory of North Munster and lived in great splendor. The castle was surrounded by beautiful gardens and it was reputed to have a herd of 3,000 deer.<br>
        </p>
    </div>
    <div class="uk-width-auto@m">
        <br><br> <h3 class="uk-heading-small">History</h3><br>
        <img width="100%" src="images/bunratty3.PNG" />
    </div>
</div>