<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Find us...On the Wild Athlantic Way" subTitle="Irelands Favourate Visitor Attraction"}}

</div>
<nav class="uk-navbar-container" uk-navbar="dropbar: true; dropbar-mode: push">...</nav>
<div class="uk-navbar-dropbar">
    {{> navigation }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <h1 class="uk-heading-small">Welcome to the Cliffs of Moher</h1><br>
            <img width="100%" src="images/banner.PNG" /><br>
    </div>
    <br>
</div>


<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">

            <img width="100%" src="images/tickets.PNG" />
        </div>
        <div class="uk-width-expand@m">
            <p>* Children under 12 are FREE when accompanied by a parent/guardian to a maximum of 4. <br>
                Family Ticket includes 2 Adults, 2 Children under 12. The “Kids go Free” promotion does not apply to educational, school groups or groups arriving by coach.<br><br>

                ** A senior citizen is a person over 65 years of age.<br><br>

                An information leaflet and site map is included in admission and is available in 14 languages; English, Irish, German, French, Italian, Spanish, Portuguese, Dutch, Chinese, Japanese, Swedish, Polish and Russian.</p>
        </div>
        {{> error }}
    </div>
</div>
<div class="uk-container uk-flex-center ">
    <br><h1>Group Bookings</h1>
    <p>
        Groups of 10 or more travelling by coach must be booked at least 72 hours in advance.<br>

        To make a booking contact bookings@cliffsofmoher.ie or call 065 708 6141 and press 1 to speak to a bookings agent.<br>
    </p>
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <br><br> <h3 class="uk-heading-small">DO YOU QUALIFY FOR A LOCAL PASS?</h3><br>
            <p>
                If you are a resident of County Clare, you qualify for a Local Pass for the Cliffs of Moher Visitor Experience giving you unlimited access for 12 months for only €20.<br>

                The Local Pass, which is a photo ID Card, includes access to all visitor areas, the visitor centre, exhibition, facilities on site and unlimited parking. You can also avail of discounts in the Gift Shop and the Cliffs View cafe.<br>

                Please note: If you have travel companions they will need to pay admission unless they also have a Local Pass or they are children under 12.<br>

                You can request a Local Pass Application Form by emailing us at info@cliffsofmoher.ie,  return your completed form to us with photo ID, proof of address along with the payment and we will post the Pass to you.<br>
            </p>
        </div>
        <br>
    </div>