<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Find us...On the Wild Athlantic Way" subTitle="Irelands Favourate Visitor Attraction"}}

</div>
<nav class="uk-navbar-container" uk-navbar="dropbar: true; dropbar-mode: push">...</nav>
<div class="uk-navbar-dropbar">
    {{> navigation }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <h1 class="uk-heading-small">Doolin Folk Festival</h1><br>
            <img width="100%" src="images/doolin.jpg" /><br>
        </div>
        <br>
    </div>


    <div class="uk-container uk-margin">
        <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
            <div class="uk-width-auto@m">
                <br><br> <h3 class="uk-heading-small">August Every Year (Covid-19 pending) </h3><br>
                <img width="100%" src="images/beer1.jpg" />
            </div>
            <div class="uk-width-expand@m">
                <p><br>The number of microbreweries operating in Ireland has increased significantly in recent years due a surge in public interest in independent craft beers.
                    <br>That’s according to the organisers of the 2nd annual Doolin Craft Beer Festival in County Clare from 23rd to 25th August.
                    <br>
                    <br>15 domestically produced craft beers from some of Ireland’s best microbreweries will be amongst dozens of beers and ciders to be showcased at the festival, which is being hosted by Hotel Doolin and will also feature some of Clare’s best musicians along with food from local Artisan producers.
                </p>
            </div>
            {{> error }}
        </div>
    </div>
    <div class="uk-container uk-margin">
        <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
            <div class="uk-width-auto@m">
                <br><br> <h3 class="uk-heading-small">August Every Year (Covid-19 pending) </h3><br>
                <img width="100%" src="images/beer2.jpg" />
            </div>
            <div class="uk-width-expand@m">
                <p><br>Among the Irish microbreweries showcasing craft beers will be The Carlow Brewing Company (Carlow), 8 Degrees Brewing (Cork), The Dungarvan Brewing Company (Waterford), The White Gypsy Brewery (Tipperary), The Franciscan Well Brewery (Cork), Galway Hooker (Roscommon), Trouble Brewing (Kildare) and Stonewell Cider (Cork).<br>
                    <br>
                    <br>“Ireland has traditionally had a long history of brewing with almost every small town in Ireland at one point having a microbrewery. The rise to dominance of the larger beer companies however, saw Irish beer production decline,” explained Hotel Doolin General Manager, Donal Minihane.
                </p>
            </div>
            {{> error }}
        </div>
    </div>
</div>