<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Find us...On the Wild Athlantic Way" subTitle="Sign up or Log in"}}
  {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
        <h1 class="uk-heading-small">Welcome to the Cliffs of Moher</h1>
      <img width="800" src="images/cliffs-of-moher.gif" />
    </div>
    <div class="uk-width-expand@m">
      <p>Probably worth a Visit...</p>
    </div>
      {{> error }}
  </div>
</div>
<div class="uk-container uk-flex-center ">
    <h3>Sign up for Exclusive news and event and special discount codes on visits</h3>
</div>