<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Find us...On the Wild Athlantic Way" subTitle="Irelands Favourate Visitor Attraction"}}

</div>
<nav class="uk-navbar-container" uk-navbar="dropbar: true; dropbar-mode: push">...</nav>
<div class="uk-navbar-dropbar">
    {{> navigation }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-expand@m">
            {{> POI-list}}
        </div>
        <div class="uk-width-auto@m">
            <img width="300" src="images/POI.jpg">
        </div>
    </div>
</div>
